:host {
  .navbar {
    background-color: rgba(var(--color-primary), 1);
    .navbar-brand {
      img {
        width: 50px;
      }
    }

    .nav-item {
      .nav-link {
        &.router-link-active {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
