<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="/assets/images/logo.svg" alt="The Movie DB Clone">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Portada<span
                            class="sr-only">(current)</span></a>
                </li>


                <li ngbDropdown class="nav-item">
                    <a class="nav-link" id="filmsDropdown" ngbDropdownToggle>Películas</a>
                    <div ngbDropdownMenu aria-labelledby="filmsDropdown">

                        <a ngbDropdownItem [routerLink]="['/premieres']"
                            routerLinkActive="router-link-active">Estrenos</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mr-2">
                <li ngbDropdown class="nav-item">
                    <a class="nav-link" id="filmsDropdown" ngbDropdownToggle>{{"GLOBALS.LANGUAGE" |translate}}</a>
                    <div ngbDropdownMenu aria-labelledby="filmsDropdown">
                        <a ngbDropdownItem (click)="setLanguage(language.code)"
                            *ngFor="let language of avalaibleLanguages">
                            {{language.name}}
                        </a>
                    </div>
                </li>
            </ul>


            <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm">
                <input formControlName="searchInput" class="form-control mr-2" type="text"
                    placeholder="Buscar películas">
                <button class="btn btn-outline-light my-2 my-sm-0" [class.disabled]="!searchForm.valid"
                    (click)="navigateToSearch()" type="submit">Buscar</button>
            </form>

        </div>
    </div>
</nav>