<div class="card" (click)="goToMovieDetail(movie.id)">
    <div class="image-container">
        <ng-container *ngIf="movie.poster_path; else noPoster">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}">
        </ng-container>
        <ng-template #noPoster>
            <div class="no-poster">
                No hay imagen disponible
            </div>

        </ng-template>

    </div>

    <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">{{movie.overview | slice:0:80}}</p>
    </div>
</div>