:host {
  .jumbotron {
    background-color: black;
    display: block;
    overflow: hidden;
    margin: 0;
    max-height: 50vh;
    position: relative;
    border-radius: 0px;
  }
  .container {
    display: flex;
    position: relative;
    z-index: 100;
  }
  .movie-poster {
    margin-right: 2rem;
    img {
      max-height: 350px;
    }
  }
  .movie-data {
    color: #ffffff;
  }

  .backdrop {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
    object-position: top center;
  }
}

:host-context(app-movie-detail) {
  .btn {
    display: none;
  }
}
